﻿@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p >Add two numbers. Maximum value is 100.</p>
<p role="status">Current result: @result</p>

<input type="number" min="0" max="100" @bind="valueA" >
+
<input type="number" min="0" max="100" @bind="valueB" >

<button class="btn btn-primary" @onclick="AddValues">Add</button>

@code {
    private int result = 0;
    int valueA = 0;
    int valueB = 0;

    private void AddValues()
    {
        result = valueA + valueB;
    }
}
